# Ignore jupyter notebook check points
/python/.ipynb_checkpoints/
.ipynb_checkpoints/

# Ignore sent2vec model
/model/

# Ignore Plots folder
/plots/

# Ignore BioBert Model
/python/BioBert_MedAbs_Classifier
